@import url(../css/variables.css);



.Animate {
  text-align: center;
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}


/*Animación de cajas*/
.boxes-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.box {
  background-color: white;
  color: var(--blue2);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease; /* Transición suave para la inclinación */
}

/* Caja central un poco más alta */
.higher-box {
  transform: translateY(-20px); /* Ajuste manual para que esté más arriba */
}


/*Animacion de cartas hover, testimonios de de docente y estudiate*/

