@import url(variables.css);


.header_nav {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--white5);
    z-index: 1000;
  }
  


/*Nav desing*/
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  

  .container_nav{
    max-width: 90%;
    margin-inline: 1.5rem;
  }
  
  nav{
    position: relative;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav_inv{
    width: 8.5rem;
    cursor: pointer;
  }

  .nav_inv_hdn{
    display: none;

  }

  
  .nav_exit, 
  .nav_tap {
    display: flex;
    color: var(--blue2);
    font-size: 1.5rem;
    cursor: pointer;
  }

  .position-fixed-nav-global{
    position: fixed;
    z-index: 999999;
    width: 100%;
  }

  /*Oferta academica, seccion de menu*/

  .nav_li:hover .drop_nav_of  {
    display: block;
    transition: all 1s ease-in-out;
    padding: 10px 0px 10px 0px;
  }
  
  .drop_nav_of{
    display: none;
    position: absolute;
    background-color: var(--white2);
    border-radius: 10px;
    min-width: 200px;
    box-shadow: 5px 8px 16px 0px rgba(0,0,0,0.2);
    transition: all 1s ease-in-out;
  }

  .drop_nav_of .drop_li_of{
    padding: 10px 10px;
    color: var(--blue2);
    font-weight: 600;
    display: block;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }

  .drop_nav_of .drop_li_of:hover{
    background-color: var(--white3);
    border-radius: 10px;
    transition: all 0.5;
  }


  @media screen and (max-width: 1150px) {
    .nav_menu {
      position: fixed;
      left: -100%;
      top: 0;
      background-color: var(--white3);
      height: 100%;
      padding: 4rem 2.5rem 4.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: left .4s;
    }
  
    .nav_inv_hdn{
      display: block;
    }

    .nav_li{
      transform: translateX(-150px);
      visibility: hidden;
      transition: transform .4s ease-out, visibility .4s;
    }

    .nav_li:nth-child(1) {
      transition-delay: .1s;
    }
    .nav_li:nth-child(2) {
      transition-delay: .2s;
    }
    .nav_li:nth-child(3) {
      transition-delay: .3s;
    }
    .nav_li:nth-child(4) {
      transition-delay: .4s;
    }
    .nav_li:nth-child(5) {
      transition-delay: .5s;
    }
    .nav_li:nth-child(6) {
        transition-delay: .6s;
    }
      .nav_li:nth-child(7) {
        transition-delay: .7s;
    }
      .nav_li:nth-child(8) {
        transition-delay: .8s;
    }
    .nav_li:nth-child(9) {
      transition-delay: .9s;
  }
  
  }
  
  .nav_ul{
    display: flex;
  }
  
  .nav_ul {
    flex-direction: column;
    row-gap: 2rem;
  }
  
  .nav_router {
    position: relative;
    color: var(--blue2);
    font-size: 1.3rem;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    transition: opacity .4s;
  }
  
  
  .nav_router span {
    position: relative;
    transition: margin .4s;
  }
  
  .nav_router span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: var(--blue2);
    transition: width .4s cubic-bezier(0.86, 0, 0.07, 1);
  }

  /*Time*/

  
  
  /* Animation link on hover */
  
  
    .nav_router:hover span::after {
        width: 100%;
    }
  
  /* Sibling fade animation */
  .nav_ul:has(.nav_router:hover) .nav_router:not(:hover) {
    opacity: .4;
  }
  

  .nav_exit {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }
  

  
  /* Show menu */
  .show_menu {
    left: 0;
  }
  
  /* Animation link when displaying menu */
  .show_menu .nav_li{
    visibility: visible;
    transform: translateX(0);
  }

  
  /*=============== BREAKPOINTS ===============*/
  /* For large devices */
  @media screen and (min-width: 1150px) {
    .container_nav {
      margin-inline: auto;
    }
  
    nav {
      height: calc(3.5rem + 2rem);
    }
  
    .nav_tap, 
    .nav_exit {
      display: none;
    }

  
    .nav_router {
      font-size: 0.938rem;
    }
  
    .nav_router .img_icon {
      font-size: 1.5rem;
    }
  
    .nav_ul {
      flex-direction: row;
      column-gap: 3.5rem;
    }
  
    .nav_menu {
      display: flex;
      align-items: center;
      column-gap: 3.5rem;
    }
  }

/*variables globales global */

  .container_global{
    width: 80%;
    margin: auto;
  }

  .nav_top_padg_sep{
    padding-top: 7rem;
  }

  .txt_bold_tittle{
    font-size: 1.7em;
  }

  /*Header desing*/

  .header_cont_clm{
    width: 90%;
    margin: auto;
    padding: 8vw 0;
  }

  .grid_heade_cont{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 5em;
  }
  .clm_hd1 h2{
    font-size: 2.5vw;
    color: var(--blue2);
  }

  .clm_hd1 h1{
    font-size: 2.8vw;
  }

  .clm_hd1 h3{
    font-size: 1.5vw;
  }
  
.col_txt_hd{
  color: var(--blue4);
}

.col_txt_hd2{
  color: var(--blue2);
}


.font_size_title_global{
  text-align: center;
  justify-content: center;
  margin: 25px;
}

.font_size_title_global2{
  font-size: 2.3vw;
}

.clm_hd2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.clm_hd2 img{
    width: 35em;
}

/*Diseño del boton*/

.btn-cont1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  gap: 1em;
}
.btn-cont1 button{
 background-color: var(--blue3);
 color: var(--white1);
 border: none;
 padding: 1vw;
 border-radius: 10px;
 font-size: 1vw;
 cursor: pointer;
}

.btn-cont1 button:hover{
  background-color: var(--blue1);
  transition: all 0.4s ease-in-out;
}

/*Numero de ofertas académicas index*/

.acd_grid_cont{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-top: 1.5em;
}

.acd_img_of img{
  width: 8em;
}

/* Información de pagina principal (sección 1)*/

.cont_info_ind{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.cont_info_ind2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  justify-content: center;
  align-items: center;
}



.cont_info_item1 h3{
 font-size: 1.7em;
}

.cont_info_item1 p{
  font-size: 1.1em;
}

.cont_info_item1 img{
  width: 35em;
}

.Cg_color_item{
  color: var(--blue2);  
  font-size: 25px;
  padding: 0px 5px 0px 0px;
}

/*Oferta academica Layout*/

.off_img_lyt{
  display: grid;
  width: auto;
  height: auto;
}

.img_lyt_item{
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: all .7s ease;
  filter:grayscale(80%);
}

/*Dark filter*/

  


/*Color filter hover*/
.off_img_lyt:nth-child(1):hover > .img_lyt_item{
  filter: opacity(60%) drop-shadow(0 0 0 var(--blue1)) brightness(0.9) contrast(1.3) saturate(0.7);
}

.off_img_lyt:nth-child(2):hover > .img_lyt_item{
  filter: opacity(60%) drop-shadow(0 0 0 var(--gold1)) brightness(0.9) contrast(1.3) saturate(0.7);
}

.off_img_lyt:nth-child(3):hover > .img_lyt_item{
  filter: opacity(60%) drop-shadow(0 0 0 var(--wine1)) brightness(0.9) contrast(1.3) saturate(0.7);
}

.off_img_lyt:nth-child(4):hover > .img_lyt_item{
  filter: opacity(60%) drop-shadow(0 0 0 var(--cyan1)) brightness(0.9) contrast(1.3) saturate(0.7);
}



/*Texto sobrepuesto*/

.off_img_lyt .txt_lyt_pr{
  position: absolute;
  width: 100%;
  color: var(--white1);
  z-index: 999;
  font-size: 2.5em;
  cursor: pointer;
  transition: all .7s ease-in-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  justify-content: center;

}

/*Hover del texto */
.off_img_lyt:hover > .txt_lyt_pr{
  opacity: 1;
  visibility: visible;
}

.off_img_lyt:hover > .txt_lyt_pr h2{
  margin-top: 100px;
  margin-bottom: 60px;
}

.off_img_lyt .txt_lyt_pr h2{
  margin-bottom: 100px;
  transition: all .5s ease-out;
  margin-top: 60px;
}

.off_img_lyt .txt_lyt_pr p{
  line-height: 1.5px;
  width: 100%;
  margin: auto;
}


.off_img_lyt:hover > .img_lyt_item{
  cursor: pointer;
  height: 400px;
  filter: contrast(100%);
}

/*Index docente*/

/* Información de pagina principal (sección 2)*/

.cont_info_item2{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont_info_item2 img{
  width: 35em;
}

.txt_cnt_dte_ds{
  justify-content: center;
  text-align: center;
}

/*Cards global ds*/

.flx_row_card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.card_dte_ds_cont{
  display: grid;
  position: relative;
  width: 80%;
  gap: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 1.5em;
  margin: auto;
}

.fr_card_dte1{
  display: flex;
  align-items: center;
  justify-content: center;

}


.fr_card_dte1 img{
  width: 80%;
  transition: all .4s ease-out;
}


.hov1_card_dte2{
  display: none;
  opacity: 0;
  transition: all .4s ease-out;
}

.card_dte_ds_cont:hover .hov1_card_dte{
  position: absolute;
  opacity: 0;

}

.card_dte_ds_cont:hover .hov1_card_dte2{
  opacity: 1;
  display: block;
}

.fr_card_dte2{
  position: relative;
  transform: translate(0%, -30%);
  z-index: 999;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 21px 24px 15px -31px rgba(0,0,0,0.75);
  background-color: var(--white2); 
}

.fr_card_dte2 h3{
  font-size: 1.3em;
}

/*Separacio de caja entre arriba y abajo*/
.marg_top_butt_box{
  margin-top: 5em;
  margin-bottom: 5em;
}

/*Diseño del footer global*/

.footer_glob_dsg{
  width: auto;
  background-color: var(--white5);
  padding: 1.5em 1.5em 0 1.5em;
}

.footer_column_glob{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.icon_clm_size{
  display: grid;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.icon_clm_size a img{
  width: 35%;
  margin: 0 10px;
}

.footer_column_sec h4{
  color: var(--blue2);
}

.footer_column_glob2{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.footer_column_glob2 img{
  width: 10em;
}

.icon_foot_dsg_col .icon_foot_dsg{
  margin: 0 10px;
}
.icon_foot_dsg {
  color: var(--blue2);
  font-size: 1.4em;
}

.sec_git_dev{
  display: flex;
  align-items: center;
  gap: 10px;
}

.sec_git_dev a{
  color: var(--black1);
  font-size: 1.3rem;
  transition: all .5s ease-out;
}

.sec_git_dev a:hover{
  color: var(--white4);
  position: relative;
  transform: translate(0px, -5px);
}

/*Oferta academicas licenciatura*/

.header_dsg_of_acd{
  background-image: url('../../img/of_acad/licenciaturas/backgroud_lic.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.clm_hdr_of_acd{
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 31vh 50px 0px 50px;
  justify-content: center;
  align-items: center;
}

.txt_hdr_of_adc{
  color: var(--white1);
} 

.txt_hdr_of_adc h1{
  font-size: 3em;
}

.txt_hdr_of_adc p{
  font-size: 1.2em;
}

.txt_hdr_of_adc h4{
  font-size: 1.3em;
}

.img_hdr_of_adc img{
  width: 55vw;
  vertical-align: middle;
  
}

/*Num de años, of, cuatri*/

.header_cont_clm2{
  width: 90%;
  margin: auto;
  padding: 2vw 2vh;
}


/*Diseño de carta lic*/

.card-adc-grid-cont{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 25px;
  justify-items: center;
}


.card-container-ind{
  background-image: url('../../img/of_acad/licenciaturas/backgroud_card_lic.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
  overflow: hidden;
  cursor: pointer;
  transition: all .5s ease-in-out;
  width: 400px;
  height: 400px;
  padding: 20px 0px 0px 20px;
}

.card-container-ind:hover{
  background-image: url('../../img/of_acad/licenciaturas/backgroud_card_lic_hover.svg');
}

.flx-card-andc{
width: 400px;
height: 400px;
overflow: hidden;
display: flex;
}

.txt-div-left{
color: var(--white1);
flex-direction: column;
justify-content: center;
align-content: center;
display: flex;
}

.txt-div-left h1{
  font-size: larger;
}

.txt-div-left p{
font-size:medium;
}

/*Animacion de carta */


.img-div-right img{
  width: 220px;
  height: auto;
  border-radius: 25px;
  vertical-align: middle;
  filter: grayscale(80%);
  transition: all .4s ease-in-out;
}


.card-container-ind .flx-card-andc:hover > .img-div-right img{
  filter: grayscale(0%);
  transform: scale(1.1) translate(-5px, 10px);
}


/*Diseño de header maestrías*/

.header_dsg_of_acd_mtr{
  background-image: url('../../img/of_acad/maestrias/Header_background_mtr.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*Diseño de carta de maestrías ofertas academicas */

.card-container-ind-mtr{
  background-image: url('../../img/of_acad/maestrias/background_mtr.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
  overflow: hidden;
  cursor: pointer;
  transition: all .5s ease-in-out;
  width: 400px;
  height: 400px;
  padding: 20px 0px 0px 20px;
}

.card-container-ind-mtr:hover{
  background-image: url('../../img/of_acad/maestrias/background_mtr_hover.svg');
}


.card-container-ind-mtr .flx-card-andc:hover > .img-div-right img{
  filter: grayscale(0%);
  transform: scale(1.1) translate(-5px, 10px);
}

/*Diseño de header doctorados*/

.header_dsg_of_acd_doc{
  background-image: url('../../img/of_acad/doctorados/Header_background_doc.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*Diseño de carta de doctorados*/


.card-container-ind-doc{
  background-image: url('../../img/of_acad/doctorados/background_doc.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
  overflow: hidden;
  cursor: pointer;
  transition: all .5s ease-in-out;
  width: 400px;
  height: 400px;
  padding: 20px 0px 0px 20px;
}

.card-container-ind-doc:hover{
  background-image: url('../../img/of_acad/doctorados/background_doc_hover.svg');
}

.card-container-ind-doc .flx-card-andc:hover > .img-div-right img{
  filter: grayscale(0%);
  transform: scale(1.1) translate(-5px, 10px);
}


/*Diseño de header de especialidaddes*/

.header_dsg_of_acd_esp{
  background-image: url('../../img/of_acad/especialidades/Header_background_esp.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/*Diseño de carta de especialidades*/


.card-container-ind-esp{
  background-image: url('../../img/of_acad/especialidades/background_esp.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
  overflow: hidden;
  cursor: pointer;
  transition: all .5s ease-in-out;
  width: 400px;
  height: 400px;
  padding: 20px 0px 0px 20px;
}

.card-container-ind-esp:hover{
  background-image: url('../../img/of_acad/especialidades/background_esp_hover.svg');
}

.card-container-ind-esp .flx-card-andc:hover > .img-div-right img{
  filter: grayscale(0%);
  transform: scale(1.1) translate(-5px, 10px);
}


/*Diseño de información de contacto*/
.contact_ind_tittle{
font-size: 2.1rem;
text-align: center;
margin: 25px 0px 25px 0px;
}

.container_contact_inv{
  padding: 0 0 10% 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.map_rsp_contact{
  max-width: 100%;
}

/*Diseño de proyecto desa*/

.flx_desa_grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 45px 0px 45px 0px;
}

.img_flx_desa{
  max-width: 500px;
}

.flx_desa_grid .flx_desa_cent_img{
  display: flex;
  justify-content: center;
}

.cont_color_anch_desa{
  background-color: var(--blue2);
  width: 100%;
}

.txt_sec_desa_anch{
  color: var(--white2);
}

.Cg_color_item2{
  color: var(--white1);
  font-size: 25px;
  padding: 0px 5px 0px 0px;
}


.li_marg_ds_glb{
  margin: 5px 0px 5px 0px;
}

/*Diseño de imformacion academica*/
.inflic_div_cont_2{
  display: flex;
  justify-content: center;
}

.inflic_div_cont_2 img{
  width: 500px;
}

/*Contenedro de la carta de plan de estudios*/

.card_container_info_pln{
  background-image: url('../../img/of_acad/licenciaturas/backgroud_card_lic.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
  overflow: hidden;
  cursor: pointer;
  transition: all .5s ease-in-out;
  width: 300px;
  height: 300px;
  padding: 20px 0px 0px 20px;
  color: var(--white1);
}

.card_container_info_pln:hover{
  background-image: url('../../img/of_acad/licenciaturas/backgroud_card_lic_hover.svg');
  transform: translate(0px, -15px);
}

.card_inf_grid_cont{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 25px;
}

.header_cont_clm3{
  width: 80%;
  margin: auto;
  padding: 2vw 2vh;
}

.txt_ption_pln_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ul_list_info_card_acad .li_list_info_card_acad{
  align-items: center;
  margin: 5px 0px 5px 0px;
}

.li_list_info_card_acad span{
  margin-right: 5px;
}

/*Inscripciones  */
.ft_nav_sep_pad{
  padding-bottom: 100px;
}

.displ_cont_inf_step{
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin: 0px 100px 0px 100px;
}



/*Equipo INNOVA*/

/*Estructura Grid*/

.card-adc-grid-cont-tm{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 25px;
  justify-items: center;
}

.card_ind_dis_team{
  background-image: url('../../img/innova_team_img/card_inv/card_inv_team.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
  overflow: hidden;
  cursor: pointer;
  transition: all .2s ease-in-out;
  width: 330px;
  height: 330px;
}

.card_ind_dis_team:hover{
  background-image: url('../../img/innova_team_img/card_inv/card_inv_team_hover.png');
}

.card_ind_dis_team img{
  height: 330px;
  width: 330px;
}

.admin_coor_inv_txt{
  height: 70px;
  width: 350px;
  padding: 5px;
  box-sizing: border-box;
  position: relative;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0) 0%, rgba(0,0,0,1) 100%);
  color: white;
  bottom: 60px;
  text-align: center;
  border-radius: 0px 0px 25px 25px;
  transition: all .4s ease-out;
}

.admin_coor_inv_txt h3{
  margin: 5px;
  opacity: 0;
  transition: all .4s ease-out;
}

.card_ind_dis_team:hover > .admin_coor_inv_txt{
  height: 100px;
  bottom: 90px;
}

.card_ind_dis_team:hover > .admin_coor_inv_txt h3{
  opacity: 1;
  visibility: visible;
}

.con_box_hed_re{
  position: relative;
}
/*Modal de cada carta*/

.modal_cont_inf_team{
  line-height: 1.4;
  background-image: url(../../img/innova_team_img/modal_back/modal_color.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  padding: 0px;
  max-width: 900px;
  width: 100%;
}

.modal_cont_inf_team .admin_text{
  display: flex;
  align-items: center;
}

.text_cont_ind{
  color: var(--white1);
  margin: 5px 15px 5px 15px;
}

.text_cont_ind .grd_acad_team{
  color: var(--blue7);
}

.modal_cont_inf_team img{
  height: 325px;
  width: 325px;
  border-radius: 15px 0px 0px 15px;
}

.modal_cont_inf_team .close{
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 30px;
  cursor: pointer;
  color: var(--white3);
  transition: all .3s ease-in-out;
}

.modal_cont_inf_team .close:hover{
  color: var(--blue4);
}

.text_cont_ind ul li{
  display: flex;
  align-items: center;
}

.text_cont_ind ul li span{
  margin-right: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.no-scroll {  
  overflow: hidden;
}

/*Acodo de la seccion de pagina no disponible*/
.not_avilable_pag_cont{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 150px 0px 150px 0px;
}

.not_avilable_pag_cont div h1{
  font-size: 2rem;
}




/*RESPONSIVE EN WEB SITE*/


/*PC*/
@media screen and (max-width: 1024px) {

  /*Hedaer de la pagina principal del INDEX*/
  .header_cont_clm{
    width: 82%;
    padding: 8vw 0;
  }

  .grid_heade_cont{
    gap: 0px;
  }

  .clm_hd1 h2{
    font-size: 1.9rem;
  }

  .clm_hd1 h1{
    font-size: 2.1em;
  }

  .clm_hd1 h3{
    font-size: 1.1rem;
  }
  
  .font_size_txt_p_global{
    font-size: 1.1vw;
  }
  
  .clm_hd2 img{
      width: 25em;
  }

  /*Diseño del boton del INDEX*/

  .btn-cont1{
    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
    gap: 1em;
  }

  .btn-cont1{
    width: 80%;
    gap: .5em;
  }
  .btn-cont1 button{
   padding: 1.3vw;

   font-size: 0.9em;
  }

  /*Oferta acaadémica INDEX*/

  .acd_grid_cont{
    margin-top: 3em;
  }

  /*Informaión de la sección 1*/

  .cont_info_ind{
    gap: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .cont_info_ind2{
    gap: 0px;
    margin-top: 25px;
    margin-bottom: 35px;
   }

  
  .cont_info_item1 h3{
   font-size: 1.5em;
  }
  
  .cont_info_item1 p{
    font-size: 1em;
  }
  
  .cont_info_item2 img{
    width: 22rem;
  }
  
  .Cg_color_item{
    font-size: 20px;
  }

  /*Testimonios docentea alumno*/

  .flx_row_card{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }

  .card_dte_ds_cont{
    width: 80%;
    gap: 20px;
    border-radius: 1em;
  }

  
  .fr_card_dte1 img{
    width: 80%;
  }
  
  .fr_card_dte2{
    background-color: var(--white2); 
    transition: all .4s ease-out;
  }

  .fr_card_dte2:hover{
    box-shadow: 21px 24px 15px -31px rgba(0, 0, 0, 0.842);
    background-color: var(--white3); 
  }
  
  .fr_card_dte2 h3{
    font-size: 1.3em;
  }



  /*Media licenciatura, este la responsividad de tamaño tablet de la información de la licenciatura*/

  .clm_hdr_of_acd{
    display: flex;
    flex-direction: column;
    padding: 10vh 50px 0px 50px;
  }

  .img_hdr_of_adc img{
    width: 90vw;
  }

  .img_hdr_of_adc{
    padding-top: 50px;
  }

  /*Diseño y tamaño de las cartas de cada licenciatura*/

  .card-adc-grid-cont{
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    gap: 20px;
    justify-items: center;
  }

  .card-container-ind{

    width: 19rem;
    height: 20.5rem;
    padding: 10px 0px 0px 20px;
  }
  
  .flx-card-andc{
    width: 19rem;
    height: 20.5rem;
  }

  .img-div-right img{
    width: 10rem;
    transform: translateY(30px);
  }

  /*Diseño de carta y tamaño de maestría*/
    
  .card-container-ind-mtr{
    width: 19rem;
    height: 20.5rem;
    padding: 10px 0px 0px 20px;
  }

  /*Diseño y tamaño de las cartas de especialidades*/

  .card-container-ind-esp{
    width: 19rem;
    height: 20.5rem;
    padding: 20px 0px 0px 20px;
  }

    /*Diseño y tamaño de las cartas de doctorados*/

  .card-container-ind-doc{
    width: 19rem;
    height: 20.5rem;
      padding: 20px 0px 0px 20px;
  }
 
  
  /*Diseño de la pagina "Inscripciones"*/

  .flx_desa_grid{
    display: flex;
    flex-direction: column-reverse;
  }

  .displ_cont_inf_step{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0px 50px 0px 50px;
  }

  /*Diseño de la página DESA*/

.font_size_title_global h1{
 font-size: 2.2em;
}

.flx_desa_reverse{
  display: flex;
  flex-direction: column;
}

/*Acomodo de la seccion de pagina no disponible*/
.not_avilable_pag_cont{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 70px;
  padding: 150px 0px 100px 0px;
}

.not_avilable_pag_cont div h1{
  font-size: 2rem;
}

/*Contacto de INNOVA Final de la pag*/
  
.container_contact_inv{
  grid-template-columns: 1fr;
}

.map_rsp_contact{
  max-width: 100%;
}

.map_rsp_contact iframe{
  height: 40vh;
}

/*INNOVA TEAM RESPONSIVE*/
.card_ind_dis_team{
  width: 20rem;
  height: 20rem;
}



}

/*Mobil media*/

@media screen and (max-width: 768px) {
/*Hedaer de la pagina principal del INDEX*/
.header_cont_clm{
  width: 90%;
  padding: 8vw 0;
}

.grid_heade_cont{
  grid-template-columns: 1fr;
  gap: 0;
}

.clm_hd1{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.clm_hd1 h2{
  font-size: 3rem;
}

.clm_hd1 h1{
  font-size: 2.7rem;
}

.clm_hd1 h3{
  font-size: 1.5rem;
}


.clm_hd2 img{
    width: 40em;
}

/*Diseño del boton del INDEX*/

.btn-cont1{
  display: grid;
  grid-template-columns: 1fr;
  width: 50%;
  gap: 1em;
}

.btn-cont1{
  width: 40%;
  gap: 1em;
}

.btn-cont1 button{
 padding: 1.1vw;
 border-radius: 10px;
 font-size: 1.2em;
}

/*Oferta acaadémica INDEX*/

.acd_grid_cont{
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr 1fr;
  margin-top: 0em;
}



.acd_img_of img{
  width: 9em;
}
/*Informaión de la sección 1*/

.cont_info_ind{
  display: flex;
  flex-direction: column-reverse;
  gap: 0px;
}


.cont_info_item1 h3{
 font-size: 2em;
}

.cont_info_item1 p{
  font-size: 1.3em;
}

.cont_info_item2 img{
  width: 35em;
}

.Cg_color_item{  
  font-size: 30px;
}

/*Testimonios docentea alumno*/

.flx_row_card{
  grid-template-columns: 1fr;
}

.card_dte_ds_cont{
  width: 90%;
  gap: 20px;
}

.fr_card_dte2 h3{
  font-size: 1.5em;
}

.fr_card_dte2 h4{
  font-size: 1.3em;
}

.fr_card_dte2 p{
  font-size: 1.1em;
}

/*Diseño de carta lic-----------------*/

.card-adc-grid-cont{
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));

}
.card-container-ind{
  width: 20rem;
  height: 22.5rem;
  padding: 15px 0px 0px 15px;
}


.flx-card-andc{
  width: 20rem;
  height: 22.5rem;
}

.txt-div-left{
font-size: 16px;
}

.img-div-right img{
  width: 10rem;
  transform: translateY(75px);
}

.card-container-ind .flx-card-andc:hover > .img-div-right img{
  transform: scale(1) translateY(60px);
}

.card-container-ind-mtr .flx-card-andc:hover > .img-div-right img{
  transform: scale(1) translateY(60px);
}

.card-container-ind-doc .flx-card-andc:hover > .img-div-right img{
  transform: scale(1) translateY(60px);
}

.card-container-ind-esp .flx-card-andc:hover > .img-div-right img{
  transform: scale(1) translateY(60px);
}

/*Diseño de Maestrías*/

.card-container-ind-mtr{
  width: 20rem;
  height: 22.5rem;
  padding: 15px 0px 0px 15px;
}

/*Diseño de carta de doctorados*/

.card-container-ind-doc{
  width: 20rem;
  height: 22.5rem;
  padding: 15px 0px 0px 15px;
}

/*Diseño de carta de especialidades*/


.card-container-ind-esp{
  width: 20rem;
  height: 22.5rem;
  padding: 15px 0px 0px 15px;
}

/*INNOVA TEAM DISEÑO RESPONSIVE*/

/*
.card-adc-grid-cont{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  justify-items: center;
}

.card_ind_dis_team{
  width: 21rem;
  height: 21rem;
}


.card-container-ind{
  width: 21rem;
  height: 21rem;
  padding: 20px 0px 0px 20px;
}

.card_ind_dis_team img{
  width: 21rem;
  height: 21rem;
}
  */


}


@media screen and (max-width: 480px) {

  /*Hedaer de la pagina principal del INDEX*/
.header_cont_clm{
  width: 95%;
  padding-top: 13vh;
}


.grid_heade_cont{
  gap: 0px;
}

.clm_hd1{
  gap: 0px;
}

.clm_hd1 h2{
  font-size: 1.9rem;
}

.clm_hd1 h1{
  font-size: 1.7rem;
}

.clm_hd1 h3{
  font-size: 1.2rem;
}

.clm_hd2 img{
    width: 100%;
}

/*Diseño del boton del INDEX*/

.btn-cont1{
  display: grid;
  grid-template-columns: 1fr;
  width: 70%;
  gap: 1em;
}

.btn-cont1{
  width: 50%;
  gap: 1em;
}
.btn-cont1 button{
 padding: 1.4vw;
 border-radius: 10px;
 font-size: 1em;
}

/*Oferta acaadémica INDEX*/

.acd_grid_cont{
  display: grid;
  gap: 1.5em;
}

.acd_img_of img{
  width: 7em;
}

/*Informaión de la sección 1*/

.cont_info_ind{
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cont_info_ind2{
  display:flex;
  flex-direction: column;
  margin-top: 10vh;
  margin-bottom: 8vh;
}


.cont_info_ind3{
  display:flex;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 8vh;
}

.cont_info_item1 h3{
 font-size: 1.5em;
}

.cont_info_item1 p{
  font-size: 1em;
}

.cont_info_item2 img{
  width: 100%;
}

.Cg_color_item{  
  font-size: 25px;
}

.cls_mobile_sep_mar{
  margin-top: 50px;
  margin-bottom: 50px;
}

/*Seccion de ofertas academicas*/

.txt_bold_tittle{
  font-size: 1.5em;
  text-align: left;
}

/*Texto sobrepuesto*/

.off_img_lyt .txt_lyt_pr{
  font-size: 1.7em;
}

/*Testimonios docentes alumno*/

.marg_top_butt_box{
  margin-top: 0em;
  margin-bottom: 0em;
}

.flx_row_card{
  grid-template-columns: 1fr;
}

.card_dte_ds_cont{
  width: 100%;
  gap: 80px;
}

.fr_card_dte2 h3{
  font-size: 1.5em;
}

.fr_card_dte2 h4{
  font-size: 1.2em;
}

.fr_card_dte2 p{
  font-size: 1em;
}

/*Diseño del footer global*/

.footer_column_glob{
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.icon_clm_size{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.icon_clm_size a img{
  width: 9rem;
}

.footer_column_glob2{
  font-size: 1em;
}

.footer_column_glob2 img{
  width: 8.5rem;
}

.footer_column_sec ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer_column_glob2{
display: flex;
flex-direction: column-reverse;
align-items: flex-start;
gap: 10px;
}

  /*Header de oferta academica*/
  
  .txt_hdr_of_adc{
    text-align: center;
  }

  .txt_hdr_of_adc h1{
    font-size: 35px;
  }
  
  .txt_hdr_of_adc p{
    font-size: 16px;
  }
  
  .txt_hdr_of_adc h4{
    font-size: 16px;
  }
  
  .img_hdr_of_adc img{
    width: 350px;
    vertical-align: middle;
    
  }


/*Num de años, of, cuatri*/

.header_cont_clm2{
  width: 90%;
  margin: auto;
  padding: 2vw 2vh;
}


/*Diseño de carta lic-----------------*/

.card-adc-grid-cont{
  grid-template-columns: 1fr;

}


.card-container-ind{
  width: 19rem;
  height: 20.5rem;
  padding: 15px 0px 0px 15px;
}


.flx-card-andc{
width: 19rem;
height: 20.5rem;
}

.txt-div-left{
font-size: 14px;
}

.img-div-right img{
  width: 10rem;
  transform: translate(10px ,30px);
}

/*Diseño de Maestrías*/

.card-container-ind-mtr{
  width: 19rem;
  height: 20.5rem;
  padding: 15px 0px 0px 15px;
}

/*Diseño de carta de doctorados*/

.card-container-ind-doc{
  width: 19rem;
  height: 20.5rem;
  padding: 15px 0px 0px 15px;
}

/*Diseño de carta de especialidades*/


.card-container-ind-esp{
  width: 19rem;
  height: 20.5rem;
  padding: 15px 0px 0px 15px;
}



.card-container-ind .flx-card-andc:hover > .img-div-right img{
  transform: scale(1) translate(0px, 20px);
}

.card-container-ind-mtr .flx-card-andc:hover > .img-div-right img{
  transform: scale(1) translate(0px, 20px);
}

.card-container-ind-doc .flx-card-andc:hover > .img-div-right img{
  transform: scale(1) translate(0px, 20px);
}

.card-container-ind-esp .flx-card-andc:hover > .img-div-right img{
  transform: scale(1) translateY(60px);
}

  /*Diseño de las inscripciones*/

  .img_flx_desa{
    max-width: 300px;
  }

  .nav_top_padg_sep{
    padding-top: 3rem;
  }

  /*Diseño de la pagina DESA-*/
  .img_flx_desa{
    max-width: 350px;
  }


  .font_size_title_global h1{
  font-size: 1.9em;
  }

  /*Acomodo de la seccion de pagina no disponible*/
.not_avilable_pag_cont{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 70px;
  padding: 100px 0px 100px 0px;
}

.not_avilable_pag_cont div h1{
  font-size: 1.7rem;
}

/*INNOVA TEAM RESPONSIVE*/
/*
.card_ind_dis_team{
  width: 18rem;
  height: 18rem;
}


.card-container-ind{
  width: 18rem;
  height: 18rem;
  padding: 20px 0px 0px 20px;
}

.card_ind_dis_team img{
  width: 18rem;
  height: 18rem;
}

.admin_coor_inv_txt{
  width: auto;
}

*/


}

